--- 
layout: default
---

    <header class="grid text-center tall-60"> 
       
        {% include header-nav.html %}

        <div class="col-12 editable">
            <h3 class="ont-weight-extrabold editable"> why <span class="featured-text"> wait </span> </h3>      
            <h1 class="font-weight-light editable"> one step away from the perfect night sleep </h1>
        </div>
        
    </header>


    <!------------------ contact form ------------------> 
    <section class="padded-sm light-text bg-dark grid">
        <div class="col-5-middle padded"> 
            <h2 class="editable medium-text"> let's <span class="featured-text"> connect </span> </h2>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim mollitia, dicta nesciunt inventore molestiae voluptatibus itaque. Magni numquam illo dolore earum eligendi facilis iure veritatis. Velit hic iste a quia.</p>
        </div>
        <div class=" col-7 padded">
            <form>
   
                <label for="_name"> Your Name </label>
                <input type="text" name="_name" id="_name"/> 
                
                <label for="_replyto"> Your Email </label>
                <input type="email" name="_replyto" id="_replyto"/>
                
                <label for="message"> Tell us what's on your mind </label>
                <textarea name="message" id="message" rows=4></textarea>
                
                <button type="submit" class="button"> SUBMIT </button>
            </form>
        </div>
        
    </section>


    <!------------------ Gallery section------------------>
    <section class="grid-center padded">
            <div class="col-4 bg-image bg-pug tall-50"> 
                <!--background image--> 
            </div>
            <div class="col-6-middle padded"> 
                <h2 class="editable medium-text"> a catchy <span class="featured-text"> heading </span> </h2>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim mollitia, dicta nesciunt inventore molestiae voluptatibus itaque. Magni numquam illo dolore earum eligendi facilis iure veritatis. Velit hic iste a quia.</p>
            </div>
    </section>


    <!------------------ Icon grid sustainability ------------------>
   <section class="grid-center padded bg-lightblue">
        <div class="col-12 padded-sm text-center">
            <h2 class="medium-text"> need help deciding? </h2>
        </div>
        <div class="col-3 padded-sm">
            <i class="fas fa-cloud"></i>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum atque facilis odio veniam quidem, ea debitis hic molestias eveniet, nisi exercitationem quasi earum, repellendus accusantium esse illo facere corrupti dolores.</p>
        </div>
        <div class="col-3 padded-sm">
            <i class="fas fa-cloud"></i>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum atque facilis odio veniam quidem, ea debitis hic molestias eveniet, nisi exercitationem quasi earum, repellendus accusantium esse illo facere corrupti dolores.</p>
        </div>
        <div class="col-3 padded-sm">
            <i class="fas fa-cloud"></i>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum atque facilis odio veniam quidem, ea debitis hic molestias eveniet, nisi exercitationem quasi earum, repellendus accusantium esse illo facere corrupti dolores.</p>
        </div>
        
    </section>


    <!------------------ testimonial section ------------------>
    {% include testimonial.html %}

