<footer class="grid-spaceBetween padded bg-dark">
    <div class="col-4-bottom">
        <h2>let's <br> <span class="featured-text">connect</span></h2>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis vitae nostrum id officia quibusdam dolorum nemo, asperiores deserunt ut recusandae autem ipsam illum. Nam esse id libero ipsum blanditiis. Delectus!</p>
    </div>
    <div class="col-6-bottom">
        <p> <strong>Call:</strong> <a href ="tel:#">04 555 5555</a> </p>
        <p> <strong>Email:</strong> <a href=mailto"#">hello@thesleep.co</a> </p>
        <p> <strong>Store:</strong> 55 Main St. Chicago </p>
        <p> <strong>Instagram:</strong> <a href="https.instagram.com/thesleepco">@thesleepco</a> </p>
    </div>
</footer>